@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #5b03ff;
    --cor-secundaria: #000000;
    --cor-terciaria: #F6F6F6;

    --fonte-titulo: 'Krona One', sans-serif;
    --fonte-paragrafo: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    justify-content: center;
}

body{
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

.menu{
    padding: 2% 0% 0% 5%;
}

.menu_nav{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 80px;

}

.menu_nav_link{
    font-family: var(--fonte-paragrafo);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
}

strong{
    color: var(--cor-primaria);
}

.foto_gabriel_leandro {
    border-radius: 10px;
    border: 2px solid var(--cor-terciaria);
   
  }
  

.apresentacao{
    padding: 5%;
    display: flex;
    align-items: center;
    gap: 200px
}

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo{
    font-size: 36px;
    font-family: var(--fonte-titulo);
}

.apresentacao_conteudo_paragrafo{
    font-size: 22px;
    font-family: var(--fonte-paragrafo);
}

.apresentacao_links_titulo{
    font-size: 24px;
    font-family: var(--fonte-titulo);
    font-weight: 400;
}

.apresentacao_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_links img {
    height: 30px;
}

.apresentacao_links_botao{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 300px;
    font-size: 24px;
    border-radius: 15px;
    text-align: center;
    border: solid 2px;   
    border-color: var(--cor-primaria);
    background-color:var(--cor-secundaria);
    color: var(--cor-terciaria);
    padding: 21.5px 0;
    text-decoration: none;
    font-family: var(--fonte-titulo);
    font-weight: 600;
    margin: 5px;
}

.apresentacao_links_botao:hover{
    color: var(--cor-primaria);
}