@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    justify-content: center;
}

body{
    height: 100vh;
    background-color: #000000;
    color: #F6F6F6;
}

strong{
    color: #5b03ff;
}

.apresentacao img {
    border-radius: 10px; /* Arredondamento suave */
    border: 2px solid #ffff; /* Contorno fino com a cor desejada */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  

.apresentacao{
    margin: 6%;
    /*Flexbox*/
    display: flex;
    align-items: center;
    gap: 200px
}

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao_conteudo_paragrafo{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao_links_titulo{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: "Krona One", sans-serif;
}

.apresentacao_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.apresentacao_links_botao{
    width: 300px;
    font-size: 24px;
    border-radius: 15px;
    text-align: center;
    border: solid 2px;   
    border-color: #5b03ff;
    background-color: #000000;
    color: #ffff;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin: 5px;
}