* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* garante que o padding não aumente o tamanho total dos elementos */
}

.menu{
    display: flex;
    background-color: black;
    width: 100%;
    height: 80px;
    padding: 0 80px;
    opacity: 1;
    position: fixed;
}

.menu_home{
    display: flex;
    align-items: center;
    height: 79px;
    width: 79.7969px;
}

.menu_home_icon{
    background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/c46845952588bf44125a37117d4da32c.svg) no-repeat 50%/contain;
    cursor: pointer;
    position: relative;
    height: 30px;
    width: 30px;
}

.menu_nav{
    height: 79px;
    width: 714.141px;
}